@import "./Theme/styles.scss";

* {
  list-style: none;
}

body {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  background: #e7f6ff;
}

.mane-wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.allCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1001px) {
  .cardsRow {
    justify-content: center;
  }
}

.cardsRow {
  display: flex;
  flex-wrap: wrap;
}

.all {
  padding: 40px;

  .titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .searchBlock {
    display: flex;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;

    img {
      box-sizing: border-box;
      outline: none;
    }

    input {
      border: 0;
      padding: 10px;
      font-size: 16px;
      width: 200px;
      &:active {
        border: 0;
      }
    }
  }
}

@media (max-width: 700px) {
  .allCards {
    justify-content: center;
  }
}
